* {
  box-sizing: border-box;
}

.body {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e0e1dd;
}

.topnav {
  margin: auto;
  overflow: hidden;
  background-color: #415a77;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav h1 {
  color: #ffd23f;
  font-size: 55px;
  text-shadow: 2px 2px 4px #0d0b0b;
  padding-left: 2rem;
}

.topnav a {
  float: left;
  display: block;
  color: #ffe066;
  text-align: left;
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b263b;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #415a77;
  color: #ffe066;
  
}

.main {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 90%;
  height: 100%;
  background-color: #fdfffc;
}


.headline {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 36px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #bcb8b1;
}

.sub-heading {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 26px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.citation {
  
  padding-left: 2rem;
  font-family: 'Modeerat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image img {
  resize: both;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
 
}

.paragraphs {
  max-width: 80rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.paragraphs p {
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

footer {
  margin-left: 5%;
  padding-right: 5%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.next-page{
  font-size: 20px;
  background-color: inherit;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* NAVIGATION BAR PAGE 2*/

.page2-body{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
}

.header{
  font-size: 16px;
  font-weight: 900;
  background-color: #ff8100;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.logo-student{
  display: flex;
  align-items: center;
  margin-left: 8vw;
}

.logo-student > img {
  width: 100px;
  object-fit: contain;
  margin-right: 6vw;
}
.lang-login-search-menu{
  margin-right: 6vw;
  align-items: center;
  display: flex;
}

.lang-login-search-menu > .nav-bar-button {
  color: #222;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;   
}

/*  PAGE 2  */

main {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  main{
    padding-left: 5%;
    padding-right: 5%;
  }
}

#learning-outcomes{
  font-size: 20px;
  font-weight: 900;
}

.main h2 {
  font-size: 18px;
  font-weight: 900;
}

.main h3 {
  font-weight: normal;
  font-size: 18px;
}
.next-page2{
  font-size: 20px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

footer {
  font-size: 16px;
  font-weight: 900;
  background-color: #ff8100;
  height: 100%;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.groupmembers {
  list-style-type: none;
  text-align: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}