* {
  box-sizing: border-box;
}


.body {
  margin: -left 10px;
  margin-right: 10px;
  background-color: rgb(208, 187, 187);
}

.topnav {
  margin: auto;
  overflow: hidden;
  background-color: blueviolet;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav h1 {
  color: rgb(193, 234, 28);
  font-size: 55px;
  text-shadow: 2px 2px 4px #0d0b0b;
  padding-left: 2rem;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(43, 13, 217);
  text-align: left;
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topnav a:hover {
  background-color: #10a9cf;
  color: black;
}

.main {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5rem;
  width: 100%;
  max-width: 90%;
  height: 100%;
  background-color: blanchedalmond;
}


.headline {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 36px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: tan;
}

.sub-heading {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 26px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.citation {
  
  padding-left: 2rem;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image img {
  resize: both;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
 
}



.paragraphs {
  max-width: 80rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.paragraphs p {
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

footer {
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 2rem;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.next-page{
  font-size: 30px;
  background-color: white;
  text-align: center;
}

.page2-body {
  padding-left: 20%;
  padding-right: 20%;
  font-family: Avenir;
  font-size: 18px;
}

.groupmembers {
list-style-type: none;
}
