* {
  box-sizing: border-box;
}


.body {
  margin: -left 10px;
  margin-right: 10px;
  background-color: rgb(208, 187, 187);
}

.topnav {
  overflow: hidden;
  background-color: blueviolet;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav h1 {
  color: rgb(193, 234, 28);
  font-size: 30%;
  text-shadow: 2px 2px 4px #0d0b0b;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(2, 2, 4) text-shadow: 2px 2px 4px rgb(51, 36, 36);
  text-align: left;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
}

.topnav a:hover {
  background-color: #10a9cf;
  color: black;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5rem;
  width: 100%;
  max-width: 80%;
  height: 100%;
  background-color: blanchedalmond;
}


.headline {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 220%
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: tan;

}

.sub-heading {
  width: 100%;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 180%;
  padding-left: 2rem;
  padding-right: 2rem;

}

.citation {
  padding-top: 0;
  padding-left: 2rem;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.image {
  height: 30rem;
  width: 100%;
}

.image img {
  resize: both;
  height: 100%;
  width: 100%;
  object-fit: contain;
}



.paragraphs {
  max-width: 80rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-style: bold;
}

.paragraphs p {
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

footer {
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 2rem;
  font-family: 'Moderat', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.next-page{
  font-size: 30px;
  background-color: white;
  text-align: center;
}

.page2-body {
  padding-left: 20%;
  padding-right: 20%;
  font-family: Avenir;
  font-size: 18px;
}
.groupmembers {
list-style-type: none;
}
