body {
    margin-left: 0;
}



.background{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%;
    max-width: 56rem;
    height: 100%;
}

h1{
    width:100%;
    font-size: 36px;
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    background-color: aquamarine;
}

h2{
    width:100%;
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    font-size: 24px;
}

.citation{
    padding-top: 0;
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.image{
    height:28rem; 
    width: 56rem;
}

.image img{
    resize: both;
    height: 100%;
    width: 100%;
    object-fit: contain;  
}

.image {
    border: 5px solid gray;
    padding: 5px;
    border-image: url(Students_and_AI.png) 20% round;
  }

.paragraphs{
    max-width: 56rem;
    padding-bottom: 1.5rem;
}

.paragraphs p{
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    font-weight: normal;
    font-size: 18px;
}

footer {
    padding-bottom: 1.5rem;
    font-family: 'Moderat','Avenir','Helvetica','Arial',sans-serif;
    font-size: 18px;
    font-weight: normal;
}